.product {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    max-height: 400px;
    min-width: 100px;
    background-color: #ffffff;
    margin: 10px;
    box-shadow: 0px 0px 2px 0px #333;
    z-index: 1;
    padding: 20px;
    width: 250px;
  }
  
  .product__info {
    height: 100px;
    margin-bottom: 15px;

  }
  
  .product__price {
    margin-top: 5px;
  }
  
  
  .product > button {
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
  }
  
